@use "@/assets/styles/helpers/functions";

.skeleton-card {
    pointer-events: none;
    display: flex;
    flex-direction: column;
    gap: var(--space-2);

    &__line {
        height: #{functions.rem(14)};
        width: 78%;
        border-radius: var(--radius-pill);
    }

    &__line-sm {
        height: #{functions.rem(12)};
        width: 52%;
        border-radius: var(--radius-pill);
    }
}
