@use "@/assets/styles/helpers/functions";

.alerts-wrap {
    position: fixed;
    right: functions.rem(16);
    top: functions.rem(64);
    z-index: 100000000;
    display: flex;
    flex-flow: column;
    gap: var(--base-gap);
    padding: var(--base-gap);
    height: auto;
    width: min(functions.rem(500), calc(100% - functions.rem(16)));
}

.alert {
    position: relative;
    width: 100%;
    min-height: functions.rem(80);
    background: var(--secondary-color);
    border-radius: var(--inner-radius);
    border-bottom: functions.rem(2) solid var(--accent-color);
    padding: functions.rem(16);
    box-shadow: 0 0 10px -4px var(--black);
}
